@font-face {
	font-family: "Source Sans Pro";
	src: url("../font/source-sans-pro/regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../font/source-sans-pro/italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../font/source-sans-pro/bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../font/source-sans-pro/semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Source Serif Pro";
	src: url("../font/source-serif-pro/regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Source Serif Pro";
	src: url("../font/source-serif-pro/italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Source Serif Pro";
	src: url("../font/source-serif-pro/bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

html {
	font: 18px/135% "Source Sans Pro", sans-serif;
}

body {
	margin: 16px;
}

header {
	text-align: center;
	padding-bottom: 8px;
	border-bottom: 1px solid #aaaaaa;
}

header h1 {
	font: 22px/135% "Source Sans Pro", sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	color: black;
}

header h1 .title {
	font-weight: 600;
}

header h1 .subtitle {
	font-weight: normal;
}

header nav {
	font: 20px/135% "Source Sans Pro", sans-serif;
	margin: 2px 0;
}

.page {
	margin: 0 auto;
	max-width: 800px;
}

a {
	text-decoration: none;
	color: #0068ed;
}

main {
	max-width: 800px;
	margin-top: 10px;
}

main h2 {
	font: 24px/135% "Source Sans Pro", sans-serif;
	font-weight: bold;
	margin-top: 27px;
	margin-bottom: 9px;
}

main .document {
	font: 20px/135% "Source Sans Pro", sans-serif;
	font-style: italic;
	margin-bottom: -27px;
}

main .text {
	font: 17px/135% "Source Serif Pro", sans-serif;
	text-align: justify;
}

main h3 {
	font: 19px/135% "Source Sans Pro", sans-serif;
	font-weight: bold;
	margin-top: 18px;
	margin-bottom: 6px;
}

main h4 {
	font: 18px/135% "Source Sans Pro", sans-serif;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 4px;
}

main p {
	margin: 6px 0;
}

main ul {
	padding-left: 24px;
}

main ul li {
	margin: 8px 0;
}

main > img {
	width: 800px;
	margin-left: -50px;
	margin-top: 4px;
	margin-bottom: 4px;
}

main dt {
	font-weight: bold;
}

main summary {
	font-weight: bold;
}

main figure {
	margin: 12px 0;
}

main figure img {
	display: block;
}

main .rss-feed {
	float: right;
	font-weight: bold;
	background: url("/img/feed-icon.svg") no-repeat left center;
	background-size: 16px;
	padding-left: 19px;
	margin-top: 4px;
}

main .document-links {
	display: flex;
	margin: 16px 0;
	gap: 16px;
	flex-wrap: wrap;
}

main .document-links a {
	display: block;
	text-align: center;
	font-weight: bold;
	background: #eee;
	padding: 8px 16px;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}

main .doc-image {
	border: 1px solid #aaaaaa;
}

main .doc-image img {
	max-width: 100%;
}

@media (min-width: 600px) {
	header .github {
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
	}

	main dl {
		display: grid;
		grid-template-columns: max-content auto;
	}

	main dt {
		grid-column-start: 1;
	}

	main dd {
		grid-column-start: 2;
	}
}

@media (max-width: 600px) {
	body {
		margin: 8px;
	}

	header .github {
		display: block;
	}

	header .github img {
		margin: 8px auto;
	}

	main dt {
		margin-top: 4px;
	}

	main dd {
		margin-left: 0;
	}
}
