html {
	font: 14px/150% "Open Sans", sans-serif;
}

body {
	margin: 30px;
}

header {
	text-align: center;
	padding-bottom: 8px;
}

header h1 {
	font: 18px/150% "Open Sans", sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
	margin: 8px 0;
}

header nav {
	font: 20px/150% "Open Sans", sans-serif;
	margin: 4px 0;
}

.page {
	margin: 0 auto;
	width: 700px;
}

a {
	text-decoration: none;
	color: #0068ed;
}

main {
	width: 700px;
	margin-top: 10px;
}

main h1 {
	font: 22px/150% "Open Sans", sans-serif;
	font-weight: bold;
	margin-top: 27px;
	margin-bottom: 9px;
}

main h2 {
	font: 16px/150% "Open Sans", sans-serif;
	font-weight: bold;
	margin-top: 18px;
	margin-bottom: 6px;
}

main h3 {
	font: 14px/150% "Open Sans", sans-serif;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 4px;
}

main p {
	margin: 6px 0;
}

main ul {
	padding-left: 24px;
}

main ul li {
	margin: 8px 0;
}

main > img {
	width: 800px;
	margin-left: -50px;
	margin-top: 4px;
	margin-bottom: 4px;
}
