<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Open source software and science" />
<title>{{ page.title }} | Peter Kuma Software and Science</title>
<link rel="stylesheet" href="/css/default.css" />
<link rel="alternate" type="application/rss+xml" title="RSS feed" href="{{ "/rss/" | absolute_url }}" />
<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "Person",
"name": "Peter Kuma",
"url": "https://peterkuma.net"
}
</script>
{% if page.journal or page.school %}
<meta name="citation_title" content="{{ page.title }}" />
{% for a in page.authors %}
<meta name="citation_author" content="{{ a.last }}, {{ a.first }}" />
{% if a.orcid %}<meta name="citation_author_orcid" content="{{ a.orcid }}" />{% endif %}
{% assign affils = a.affil | split: ", " %}
{% for af in affils %}
{% assign i = af | minus: 1 %}
<meta name="citation_author_institution" content="{{ page.affils[i] }}" />
{% endfor %}
{% endfor %}
<meta name="citation_publication_date" content="{{ page.date | date: "%Y" }}/{{ page.date | date: "%m" }}/{{ page.date | date: "%d" }}" />
{% if page.journal %}
<meta name="citation_journal_title" content="{{ page.journal }}" />
{% endif %}
{% if page.school %}
<meta name="citation_dissertation_institution" content="{{ page.school }}" />
{% endif %}
{% if page.volume %}<meta name="citation_volume" content="{{ page.volume }}" />{% endif %}
{% if page.issue %}<meta name="citation_issue" content="{{ page.issue }}" />{% endif %}
{% if page.pages %}<meta name="citation_firstpage" content="{{ page.pages[0] }}" />{% endif %}
{% if page.pages %}<meta name="citation_lastpage" content="{{ page.pages[1] }}" />{% endif %}
{% if page.doi %}<meta name="citation_doi" content="{{ page.doi }}" />{% endif %}
{% if page.issn %}<meta name="citation_issn" content="{{ page.issn }}" />{% endif %}
{% if page.file %}<meta name="citation_pdf_url" content="{{ page.url | absolute_url }}{{ page.file | uri_escape }}" />{% endif %}
{% if page.publisher %}<meta name="citation_publisher" content="{{ page.publisher }}" />{% endif %}
<meta name="citation_abstract_html_url" content="{{ page.url | absolute_url }}" />
<meta name="citation_language" content="en" />
{% endif %}
</head>
<body lang="en">
<div class="page">
<div class="top">
<header>
<h1>Peter Kuma Software and Science</h1>
<nav style="position: relative">
<a href="/software/">Software</a> | <a href="/science/">Science</a> | <a href="/photos/">Photos</a>
<a href="https://github.com/peterkuma" class="github"><img src="/img/github.png" alt="GitHub" title="GitHub" style="display: block; height: 26px" /></a>
</nav>
</header>
</div>
<main>
{{ content }}
</main>
</div>
</body>
</html>

