<!doctype html>
<html>
<head>
<title>{{ page.title }} | Peter Kuma</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" /> 
<link href="/css/default.css" rel="stylesheet" />
<meta charset="utf-8" />
<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "Person",
"name": "Peter Kuma",
"url": "https://peterkuma.net"
}
</script>
</head>
<body lang="en">
<div class="page">
<div class="top">
<header>
<h1>Peter Kuma</h1>
<nav style="position: relative">
<a href="/software">Software</a> | <a href="/science">Science</a>
<a href="https://github.com/peterkuma" style="position: absolute; right: 0; bottom: 0"><img src="/img/github.png" title="GitHub" style="display: block; height: 26px" /></a>
</nav>
</header>
</div>
<main>
{{ content }}
</main>
</div>
</body>
</html>

