---
layout: default
---

{% if page.document %}
<div class="document">{{ page.document | capitalize }}</div>
{% endif %}

<h2>
{% if page.title_html %}
{{ page.title_html }}
{% else %}
{{ page.title }}
{% endif %}
{% if page.license == 'CC BY 4.0' or page.license == 'CC BY-NC 4.0' or page.license == 'CC BY-NC-ND 4.0' %}<img src="/img/open-access.svg" alt="Open access" title="Open access" style="height: 1em; vertical-align: middle" />{% endif %}
</h2>

<p>
{% if page.authors.size > 10 %}
<details>
<summary>
{% endif %}
{% for a in page.authors limit:10 %}
{% if a.orcid %}
<a href="https://orcid.org/{{ a.orcid | url_encode }}">
{% endif %}
{{ a.first }} {{ a.last }}{% if a.orcid %}</a>{% endif %}<sup>{{ a.affil }}</sup>{% if a != page.authors.last %},{% endif %}
{% endfor %}
{% if page.authors.size > 10 %}
…
</summary>
{% for a in page.authors offset:10 %}
{% if a.orcid %}
<a href="https://orcid.org/{{ a.orcid | url_encode }}">
{% endif %}
{{ a.first }} {{ a.last }}{% if a.orcid %}</a>{% endif %}<sup>{{ a.affil }}</sup>{% if a != page.authors.last %},{% endif %}
{% endfor %}
</details>
{% endif %}
</p>

{% if page.supervisors %}
<p>
<strong>Supervisors:</strong>
{% for a in page.supervisors %}
{% if a.orcid %}
<a href="https://orcid.org/{{ a.orcid }}">
{% endif %}
{{ a.first }} {{ a.last }}{% if a.orcid %}</a>{% endif %}<sup>{{ a.affil }}</sup>{% if a != page.supervisors.last %},{% endif %}
{% endfor %}
</p>
{% endif %}

<p>
{% if page.affils.size > 10 %}
<details>
<summary>
{% endif %}
<small>
{% for a in page.affils limit:10 %}
<sup>{{ forloop.index }}</sup>{{ a }}<br />
{% endfor %}
</small>
{% if page.affils.size > 10 %}
…
</summary>
<small>
{% for a in page.affils offset:10 %}
<sup>{{ forloop.index | plus: 10 }}</sup>{{ a }}<br />
{% endfor %}
</small>
</details>
{% endif %}
</p>

<div class="document-links">
{% if page.file %}
<a href="{{ page.file | uri_escape }}">
{% if page.document %}{{ page.document | capitalize }} PDF{% else %}Document PDF{% endif %}
{% if page.file_note %}({{ page.file_note }}){% endif %}
</a>
{% endif %}
{% if page.preview %}
<a href="{{ page.preview | uri_escape }}">
{% if page.document %}{{ page.document | capitalize }} preview{% else %}Document preview{% endif %}
</a>
{% endif %}
{% if page.supplement %}
<a href="{{ page.supplement | uri_escape }}">Supplement</a>
{% endif %}
{% if page.supplementary_code %}
<a href="{{ page.supplementary_code | uri_escape }}">Code</a>
{% endif %}
{% if page.source %}
<a href="{{ page.source | uri_escape }}">
{% if page.document %}{{ page.document | capitalize }} source{% else %}Document source{% endif %}
</a>
{% endif %}

</div>

{% if page.image %}
<a href="{% if page.image_link %}{{ page.image_link | uri_escape }}{% else %}{{ page.image | uri_escape }}{% endif %}">
<img src="{{ page.image | uri_escape }}" style="margin: 12px auto; max-width: 100%" />
</a>
{% endif %}

{% if page.video %}
<video controls style="width: 100%">
<source src="{{ page.video.mp4 | uri_escape }}" type="video/mp4" />
<source src="{{ page.video.webm | uri_escape }}" type="video/webm" />
</video>
{% endif %}

{% if page.summary %}
<h3>Summary</h3>
<div class="text">
{{ page.summary | markdownify }}
</div>
{% endif %}

{% if page.abstract %}
<h3>Abstract</h3>
<div class="text">
{{ page.abstract | markdownify }}
</div>
{% endif %}

<dl>
{% if page.status %}
<dt>Status: </dt>
<dd>
{{ page.status }}
</dd>
{% endif %}
{% if page.note %}
<dt>Note: </dt>
<dd>
{{ page.note }}
</dd>
{% endif %}
{% if page.journal %}
<dt>Journal: </dt>
<dd>
{% if page._url %}
<a href="{{ page._url | uri_escape }}">{{ page.journal }}</a>
{% else %}
{{ page.journal }}
{% endif %}
</dd>
{% endif %}
{% if page.volume %}
<dt>Volume: </dt>
<dd>
{{ page.volume }}
</dd>
{% endif %}
{% if page.issue %}
<dt>Issue: </dt>
<dd>
{{ page.issue}}
</dd>
{% endif %}
{% if page.number %}
<dt>Number: </dt>
<dd>
{{ page.number}}
</dd>
{% endif %}
{% if page.pages %}
<dt>Pages: </dt>
<dd>
{% if page.pages.size == 2 %}
{{ page.pages[0] }}–{{ page.pages[1] }}
{% else %}
{{ page.pages }}
{% endif %}
</dd>
{% endif %}
{% if page.school %}
<dt>School: </dt>
<dd>
{{ page.school }}{% if page.address %}, {{ page.address }}{% endif %}
</dd>
{% endif %}
{% if page.course %}
<dt>Course: </dt>
<dd>
{{ page.course }}
</dd>
{% endif %}
{% if page.event %}
<dt>Event: </dt>
<dd>
{{ page.event }}
</dd>
{% endif %}
{% if page.event_place %}
<dt>Event place: </dt>
<dd>
{{ page.event_place }}
</dd>
{% endif %}
{% if page.event_date %}
<dt>Event date: </dt>
<dd>
{{ page.event_date | date_range }}
</dd>
{% endif %}
{% if page.archive %}
<dt>Archive: </dt>
<dd>
<a href="{{ page.archive_url | uri_escape }}">{{ page.archive }}</a>
</dd>
{% endif %}
{% if page.doi %}
<dt>DOI:</dt>
<dd>
<a href="https://doi.org/{{ page.doi | uri_escape }}">{{ page.doi }}</a>
</dd>
{% endif %}
{% if page.submitted %}
<dt>Submitted:</dt>
<dd>
{{ page.submitted | date: "%-d %B %Y" }}
</dd>
{% endif %}
{% if page.accepted %}
<dt>Accepted:</dt>
<dd>
{{ page.accepted | date: "%-d %B %Y" }}
</dd>
{% endif %}
{% if page.defended %}
<dt>Defended:</dt>
<dd>
{{ page.defended | date: "%-d %B %Y" }}
</dd>
{% endif %}
{% if page.published %}
<dt>Published:</dt>
<dd>
{{ page.published | date: "%-d %B %Y" }}
</dd>
{% endif %}
{% if page.published_year %}
<dt>Published:</dt>
<dd>
{{ page.published_year }}
</dd>
{% endif %}
{% if page.license %}
<dt>License:</dt>
<dd>
{% if page.license == 'CC BY 4.0' %}
Open access / <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 (CC BY 4.0)</a>
{% elsif page.license == 'CC BY-NC 4.0' %}
Open access / <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 (CC BY-NC 4.0)</a>
{% elsif page.license == 'CC BY-NC-ND 4.0' %}
Open access / <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 (CC BY-NC-ND 4.0)</a>
{% else %}
{{ page.license }}
{% endif %}
</dd>
{% endif %}

</dl>

<div class="cite-as">
<strong>Cite as:</strong>
{% for format in site.cite_all %}
<input type="radio" name="cite-as" id="cite-as-{{ format }}" {%- if forloop.first %}checked="checked"{%- endif -%} />
<label for="cite-as-{{ format }}">{{ format }}</label>
{% endfor %}
<span>
<button class="copy">Copy</button>
<button class="save">Save</button>
</span>
{% for style in site.cite_styles %}
<div class="content cite-as-{{ style }}">{% cite style %}</div>
{% endfor %}
{% for format in site.cite_formats %}
<div class="content cite-as-{{ format }}"><code><small>
<textarea readonly="readonly">{% cite format %}</textarea>
</small></code></div>
{% endfor %}
</div>

<script>
  const copyBtn = document.querySelector('main .cite-as button.copy');
  const saveBtn = document.querySelector('main .cite-as button.save');

  copyBtn.addEventListener('click', async () => {
    const selected = document.querySelector('input[name="cite-as"]:checked');
    const id = selected.id
    const content = document.querySelector('main .cite-as .content.' + id);
    const textArea = content.querySelector('textarea')
    let item;
    if (textArea) {
      item = new ClipboardItem({
        'text/plain': new Blob([textArea.value], { type: 'text/plain' })
      })
    } else {
      item = new ClipboardItem({
        'text/html': new Blob([content.innerHTML], { type: 'text/html' }),
        'text/plain': new Blob([content.innerText], { type: 'text/plain' })
      });
    }
    try {
      await navigator.clipboard.write([item]);
    } catch (err) { console.log(err); }
  });

  saveBtn.addEventListener('click', () => {
    const selected = document.querySelector('input[name="cite-as"]:checked');
    const id = selected.id
    const content = document.querySelector('main .cite-as .content.' + id);
    const textArea = content.querySelector('textarea')
    const value = textArea ? textArea.value : content.innerText;
    let ext;
    if (id == 'cite-as-BibTeX') {
      ext = 'bib';
    } else if (id == 'cite-as-RIS') {
      ext = 'ris';
    } else if (id == 'cite-as-CSL-JSON') {
      ext = 'json';
    } else {
      ext = 'txt';
    }
    item = new Blob([value], { type: 'text/plain' });
    const url = URL.createObjectURL(item);
    const a = document.createElement('a');
    a.href = url;
    a.download = '{{ page.code }}.' + ext;
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
    URL.revokeObjectURL(url);
  });
</script>

{% if page.doc_image %}
<h3>Document</h3>
<div class="doc-image">
{% if page.file %}<a href="{{ page.file | uri_escape }}">{% endif %}
<img src="{{ page.doc_image | uri_escape }}" />
{% if page.file %}</a>{% endif %}
</div>
{% endif %}
