---
layout: default
---

{% if page.document %}
<div class="document">{{ page.document | capitalize }}</div>
{% endif %}

<h2>
{% if page.title_html %}
{{ page.title_html }}
{% else %}
{{ page.title }}
{% endif %}
{% if page.license == 'CC BY 4.0' or page.license == 'CC BY-NC 4.0' %}<img src="/img/open-access.svg" alt="Open access" title="Open access" style="height: 1em; vertical-align: middle" />{% endif %}
</h2>

<p>
{% for a in page.authors %}
{% if a.orcid %}
<a href="https://orcid.org/{{ a.orcid }}">
{% endif %}
{{ a.first }} {{ a.last }}{% if a.orcid %}</a>{% endif %}<sup>{{ a.affil }}</sup>{% if a != page.authors.last %},{% endif %}
{% endfor %}
</p>

{% if page.supervisors %}
<p>
<strong>Supervisors:</strong>
{% for a in page.supervisors %}
{% if a.orcid %}
<a href="https://orcid.org/{{ a.orcid }}">
{% endif %}
{{ a.first }} {{ a.last }}{% if a.orcid %}</a>{% endif %}<sup>{{ a.affil }}</sup>{% if a != page.supervisors.last %},{% endif %}
{% endfor %}
</p>
{% endif %}

<p>
<small>
{% for a in page.affils %}
<sup>{{ forloop.index }}</sup>{{ a }}<br />
{% endfor %}
</small>
</p>

<div class="document-links">
{% if page.file %}
<a href="{{ page.file | uri_escape }}">
{% if page.document %}{{ page.document | capitalize }} PDF{% else %}Document PDF{% endif %}
{% if page.file_note %}({{ page.file_note }}){% endif %}
</a>
{% endif %}
{% if page.preview %}
<a href="{{ page.preview | uri_escape }}">
{% if page.document %}{{ page.document | capitalize }} preview{% else %}Document preview{% endif %}
</a>
{% endif %}
{% if page.supplementary_code %}
<a href="{{ page.supplementary_code | uri_escape }}">Code</a>
{% endif %}
</div>

{% if page.image %}
<a href="{{ page.image | uri_escape }}">
<img src="{{ page.image | uri_escape }}" style="margin: 12px auto; max-width: 100%" />
</a>
{% endif %}

{% if page.abstract %}
<h3>Abstract</h3>
{{ page.abstract }}
{% endif %}

<dl>
{% if page.note %}
<dt>Note: </dt>
<dd>
{{ page.note }}
</dd>
{% endif %}
{% if page.journal %}
<dt>Journal: </dt>
<dd>
{% if page._url %}
<a href="{{ page._url | uri_escape }}">{{ page.journal }}</a>
{% else %}
{{ page.journal }}
{% endif %}
</dd>
{% endif %}
{% if page.volume %}
<dt>Volume: </dt>
<dd>
{{ page.volume }}
</dd>
{% endif %}
{% if page.issue %}
<dt>Issue: </dt>
<dd>
{{ page.issue}}
</dd>
{% endif %}
{% if page.pages %}
<dt>Pages: </dt>
<dd>
{% if page.pages.size == 2 %}
{{ page.pages[0] }}–{{ page.pages[1] }}
{% else %}
{{ page.pages }}
{% endif %}
</dd>
{% endif %}
{% if page.school %}
<dt>School: </dt>
<dd>
{{ page.school }}{% if page.address %}, {{ page.address }}{% endif %}{% if page.note %} ({{ page.note }}){% endif %}
</dd>
{% endif %}
{% if page.archive %}
<dt>Archive: </dt>
<dd>
<a href="{{ page.archive_url | uri_escape }}">{{ page.archive }}</a>
</dd>
{% endif %}
{% if page.doi %}
<dt>DOI:</dt>
<dd>
{{ page.doi }}
</dd>
{% endif %}
{% if page.submitted %}
<dt>Submitted:</dt>
<dd>
{{ page.submitted | date: "%d %B %Y" }}
</dd>
{% endif %}
{% if page.accepted %}
<dt>Accepted:</dt>
<dd>
{{ page.accepted | date: "%d %B %Y" }}
</dd>
{% endif %}
{% if page.published %}
<dt>Published:</dt>
<dd>
{{ page.published | date: "%d %B %Y" }}
</dd>
{% endif %}
{% if page.published_year %}
<dt>Published:</dt>
<dd>
{{ page.published_year }}
</dd>
{% endif %}
{% if page.license %}
<dt>License:</dt>
<dd>
{% if page.license == 'CC BY 4.0' %}
Open access / <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International (CC BY 4.0)</a>
{% elsif page.license == 'CC BY-NC 4.0' %}
Open access / <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)</a>
{% else %}
{{ page.license }}
{% endif %}
</dd>
{% endif %}
{% if page.supplement %}
<dt>Supplement:</dt>
<dd>
<a href="{{ page.supplement | uri_escape }}">Supplement</a>
</dd>
{% endif %}
{% if page.source %}
<dt>Source:</dt>
<dd>
<a href="{{ page.source | uri_escape }}">Source</a>
</dd>
{% endif %}

</dl>

<details>
<summary>BibTeX:</summary>
<code><small>
@{{ page.type }}{% raw %}{{% endraw %}{{ page.code }},<br />
{% if page.journal %}&nbsp;&nbsp;journal={% raw %}{{% endraw %}{{ page.journal }}{% raw %}}{% endraw %},<br />{% endif %}
{% if page.school %}&nbsp;&nbsp;school={% raw %}{{% endraw %}{{ page.school }}{% raw %}}{% endraw %},<br />{% endif %}
{% if page.address %}&nbsp;&nbsp;address={% raw %}{{% endraw %}{{ page.address }}{% raw %}}{% endraw %},<br />{% endif %}
{% if page.date %}&nbsp;&nbsp;year={% raw %}{{% endraw %}{{ page.date | date: "%Y" }}{% raw %}}{% endraw %},<br />{% endif %}
{% if page.year %}&nbsp;&nbsp;year={% raw %}{{% endraw %}{{ page.year }}{% raw %}}{% endraw %},<br />{% endif %}
{% if page.note %}&nbsp;&nbsp;note={% raw %}{{% endraw %}{{ page.note }}{% raw %}}{% endraw %},<br />{% endif %}
{% if page.volume %}&nbsp;&nbsp;volume={% raw %}{{% endraw %}{{ page.volume }}{% raw %}}{% endraw %},<br />{% endif %}
{% if page.issue %}&nbsp;&nbsp;issue={% raw %}{{% endraw %}{{ page.issue }}{% raw %}}{% endraw %},<br />{% endif %}
{% if page.pages %}&nbsp;&nbsp;pages={% raw %}{{% endraw %}{% if page.pages.size == 2 %}{{ page.pages[0] }}-{{ page.pages[1] }}{% else %}{{ page.pages }}{% endif %}{% raw %}}{% endraw %},<br />{% endif %}
{% if page.doi %}&nbsp;&nbsp;doi={% raw %}{{% endraw %}{{ page.doi }}{% raw %}}{% endraw %},<br />{% endif %}
{% if page.doi %}&nbsp;&nbsp;url={% raw %}{{% endraw %}https://doi.org/{{ page.doi }}{% raw %}}{% endraw %},<br />{% endif %}
&nbsp;&nbsp;author={% raw %}{{% endraw %}{% for a in page.authors %}{% if a.last_tex %}{{ a.last_tex }}{% else %}{{ a.last }}{% endif %}, {% if a.first_tex %}{{ a.first_tex }}{% else %}{{ a.first }}{% endif %}{% if a != page.authors.last %} and {% endif %}{% endfor %}{% raw %}}{% endraw %},<br />
&nbsp;&nbsp;title={% raw %}{{% endraw %}{% if page.title_tex %}{{ page.title_tex }}{% else %}{{ page.title }}{% endif %}{% raw %}}{% endraw %}<br />
{% raw %}}{% endraw %}
</small></code>
</details>
